/*  =================
	Gradients
	================= */
.gold-gradient {
	background: rgb(212,182,133); /* Old browsers */
	background: -moz-linear-gradient(-45deg, rgba(212,182,133,1) 11%, rgba(199,170,125,1) 34%, rgba(240,215,175,1) 62%, rgba(232,199,146,1) 95%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(11%,rgba(212,182,133,1)), color-stop(34%,rgba(199,170,125,1)), color-stop(62%,rgba(240,215,175,1)), color-stop(95%,rgba(232,199,146,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, rgba(212,182,133,1) 11%,rgba(199,170,125,1) 34%,rgba(240,215,175,1) 62%,rgba(232,199,146,1) 95%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, rgba(212,182,133,1) 11%,rgba(199,170,125,1) 34%,rgba(240,215,175,1) 62%,rgba(232,199,146,1) 95%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg, rgba(212,182,133,1) 11%,rgba(199,170,125,1) 34%,rgba(240,215,175,1) 62%,rgba(232,199,146,1) 95%); /* IE10+ */
	background: linear-gradient(135deg, rgba(212,182,133,1) 11%,rgba(199,170,125,1) 34%,rgba(240,215,175,1) 62%,rgba(232,199,146,1) 95%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4b685', endColorstr='#e8c792',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}


@grey-dark: #58595b;
 @grey-light2: #d1d3d4;
@grey: #A7A9AC;
 @grey-light: #BCBEC0;
@grey-light3: #E6E7E8;
/*  =================
	Icons 
	================= */
.icon-ui, .ribbon {background-size: 100% !important;}
 .ico-ribbon {background: url("graphics/retina/ico_09.png");}

/* Listicons
================= */
.ico-star1 {background: url("graphics/retina/ico_03.png");}
.ico-star2 {background: url("graphics/retina/ico_02.png");}
.ico-star3 {background: url("graphics/retina/ico_01.png");}
.ico-trash {background: url("graphics/retina/ico_05.png");}
.ico-env {background: url("graphics/retina/ico_04.png");}
/* Footericons
================= */
.ico-star4 {background: url("graphics/retina/ico_06.png");}
.ico-share {background: url("graphics/retina/ico_07.png");}

/* Selector Arrow
================= */	

/* Gehaltscheck
================= */	
img.gehaltscheckgrafik {display: block; zoom:0.5;
 }

/*  =================
	Backgrounds
	================= */	
body {background: #F5F7F6;}
.button-ui {.gold-gradient;}
.input-ui, .listitem-ui {background: #fff;}	
.divider-ui {background: #333;}
.box-gc-result, .popup-ui {background: #fff;}
.footer-ui  {.gold-gradient;}

/*  =================
	Borders 
	================= */
.listitem-ui {
	border-bottom: 1px solid @grey-light2; 
}	
.footer-ui .field-ui.left {border-right: 1px solid rgba(35, 31, 32, 0.27);}
.footer-ui .field-ui.right {border-left: 1px solid rgba(35, 31, 32, 0.27);}

.box-gc.top {border-bottom: 1px solid @grey-light3; }
.box-gc.bottom.left {border-right: 1px solid @grey-light3;}
/*  =================
	Shadows 
	================= */	
.shadow (@s1: 0 0, @s2: 0 0, @s3: 0 0) {
	-moz-box-shadow: @s1, @s2, @s3;
	-webkit-box-shadow: @s1, @s2, @s3;
	box-shadow: @s1, @s2, @s3;
} 

.button-ui, .input-ui, .box-gc-result, .popup-ui{.shadow(-2px 2px 5px 0 rgba(0,0,0,0.2));}	
.box-gc-result { }

/*  =================
	Corners
	================= */	
 .box-gc-result { }
.button-ui, .input-ui,.box-gc-result, .popup-ui {border-radius:5px;}
