/*  =================
	Main Variables
	================= */	
@margin-sides: 1.5em;
@element-height: 4.4em;
/*  =================
	Global
	================= */	
body {
	text-align:center;
}	
/* Background*/

/*  =================
	Footer 
	================= */	
@footer-height: 5.4em;	
.content-ui.has-footer {margin-bottom:@footer-height;}	
.content-ui {padding-bottom:5em;}
.footer-ui {height: @footer-height; width:100%; position: fixed; bottom:0; left:0;}
/* Fields
================= */
.footer-ui .field-ui { height:100%;}
.footer-ui .field-ui.left {width: @footer-height;   position: absolute; top:0; left:0; }
.footer-ui .field-ui.right {width: @footer-height;   position: absolute; top:0; right:0; }

.footer-ui .field-ui.middle {margin: 0 @footer-height; line-height: @footer-height;}
.footer-ui .field-ui .icon-ui {	
	@footer-icon:2.4em;
	position: absolute; top:0; right:0;left: 0; bottom: 0; 
	height:@footer-icon; width:@footer-icon; margin:auto; 
 } 

/*  =================
	Buttons 
	================= */	
.button-ui {
	&.smalltopmargin {margin-top:1em;}
	margin: 3em @margin-sides;
	height: @element-height; line-height: @element-height;
	display: block; 
	
}
/*  =================
	Inputfields
	================= */	
.input-ui {
	&.first {margin-top:5em;}
	margin: 1em @margin-sides;
	height: @element-height; line-height: @element-height;	
	position: relative; text-align: left;
	input {
		height: 70%;width: 92%;
 		border: 0;
		margin: 0.4em 0  0 3.5%;padding: 0;
	}
}
/* Textinput
================= */

/* Selector field
================= */

/*  =================
	List Anzeigen
	================= */	
.list-ui {
	width:100%;
 	text-align: left;
}
/* Divider
================= */
.divider-ui {
	 height: 3.2em; line-height: 3.2em;
	padding: 0 @margin-sides; 	 	 
   }
/* ListElement
================= */
@list-icon:2.4em;
@list-ribbon:3.8em;
	@listitem-height:7em;
	@listicon-marginlr: 2.4em;
.listitem-ui {
	 height: @listitem-height; 
	 position: relative;
	 .text-ui {
		padding: 0 (@listicon-marginlr * 2 + @list-icon) 0 @margin-sides; 	 
		&.head {line-height: 2.5em; padding-top: 0.9em; } 
		&.sub {line-height: 2.7em;}
		h2 {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
	}
}
/* Listicons
================= */
.list-ui .icon-ui {
	
	position: absolute; top:0; right:0; 
	height:@list-icon; width:@list-icon; margin: ((@listitem-height - @list-icon) / 2) @listicon-marginlr; 
 
}
.list-ui .ribbon {
	position: absolute; top:0; right:0; width: @list-ribbon ;height: @list-ribbon;
}

/*  =================
	Texts
	================= */	
/* gcheck Suche
================= */
.gcheck {
	.tb-headline {text-align: center;}
	.tb-content {text-align: center; margin-bottom:2em;}
}
/* Job Details
================= */
/* = Headline = */
.tb-headline {margin: 3em @margin-sides 0; text-align: left;
h1 {line-height: 1.7em; }
/* = Sub = */
h5 {line-height: 2em; }
}
/* = Work Headline = *//* = Profile Headline = */
.tb-content {margin: 3em @margin-sides 0;text-align: left; 
h2 {margin-bottom:0.3em;}
/* = Work text = *//* = Profile text = */
p {}
}
/*  =================
	Textboxes
	================= */	

/* Gehaltscheck
================= */
img.gehaltscheckgrafik {margin: 3em auto; }
.box-gc-result {margin: @margin-sides; overflow: hidden;}
.box-gc {height:8em;}
.box-gc.top {width:100%;}
.box-gc.bottom {  width:50%; float:left; }
.box-gc.right.bottom {  width:49%;  }
.box-gc h5  {padding-top: 0.5em;}
.gehalt-big { line-height: 1.2em;}
.gehalt-small { line-height: 1.8em;   }

/* = Nr of Checks = */
/* = Description text = */
/* = Fields = */
  
/* Popup
================= */
.popup-ui {width:80%; padding: 2.5em 1em; margin:25% auto; position: fixed; top:0; left:0; right:0;  z-index: 100000; }
.curtain-ui {width: 100%; height:100%; z-index: 10000;background: rgba(0, 0, 0, 0.3); position: fixed; top:0; left:0; }
/* = headline 1 = */
/* = headline 2 = */
 /* = text = */ 
 
